<a href="https://colab.research.google.com/github/gauravr1104/02_05_String/blob/main/05_05_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

1. Write a program to reverse a string.

In [1]:
a=input("enter the string ")   #taking input from the user
print(a[::-1])                #reversing the string using indexing and slicing

enter the stringgaurav
varuag

2. Check if a string is a palindrome.

In [7]:
a=input("enter the string ")
if a==a[::-1]:
  print("palindrome")
else:
  print("not palindrome")

enter the stringABBA
palindrome

3. Convert a string to uppercase.

In [4]:
a=input("enter the string")
print(a.upper())

enter the stringgaurav
GAURAV

4. Convert a string to lowercase.

In [63]:
a=input("enter the string")
print(a.lower())

enter the stringGAURAV
gaurav

5. Count the number of vowels in a string.

In [13]:
a=input("enter the string ")
count=0
b="aeiou"
for i in a:
  if i.lower() in b:
    count+=1
print(f"the number of vowels are {count}")

enter the string aeioubha
the number of vowels are 6

6. Count the number of consonants in a string.

In [14]:
a=input("enter the string ")
count=0
b='aeiou'
for i in a:
  if i.lower() not in b:
    count+=1
print(f"the number of Consonent are {count}")

enter the string GAURAV
the number of Consonent are 3

7. Remove all whitespaces from a string.

In [20]:
a=input("enter the string ")
print(a.replace(" ",""))

enter the string                gaurav      singh      rawat
gauravsinghrawat

8. Find the length of a string without using the `len()` function.

In [16]:
a=input("enter the string ")
count=0
for i in a:
  count+=1
print(f"total length is {count}")

enter the string gaurav
total length is 6

9. Check if a string contains a specific word.

In [31]:
a=input("enter the string ")
word=input("enter a word to find ")
x=a.find(word)
if x==-1:
  print(f"string does not contain {word}")
else:
  print(f"given string contain {word}")

enter the string Gaurav
enter a word to find r
given string contain r

10. Replace a word in a string with another word.

In [25]:
a=input("enter the string ")
w=input("enter a word that to be replaced")
r=input("enter the word")
print(a.replace(w,r))

enter the string Gaurav
enter a word that to be replacedr
enter the wordt
Gautav

11. Count the occurrences of a word in a string.

In [27]:
a=input("enter the string ")
w=input('enter the word whose occurance to be find ')
count=0
x={}
for i in a:
  if i==w:
    count+=1
print(f'the word {w} is occuring {count} times in a string')

enter the string Gaurav
enter the word whose occurance to be find a
the word a is occuring 2 times in a string

12. Find the first occurrence of a word in a string.

In [34]:
a=input("enter the string ")
w=input('enter the word whose first occurance to be find ')
for i in a:
  if i == w:
    x=a.find(i)+1
print(f"the firsts occurance of word{w} is in {x} position")

enter the string gaurav
enter the word whose first occurance to be find a
the firsts occurance of worda is in 2 position

13. Find the last occurrence of a word in a string.

In [62]:
a=input("enter the string ")
w=input('enter the word whose last occurance to be find ')
for i in a:
  if i == w:
    x=a.rfind(i)+1                   #rfind() functiion is used to find the highest index of substring
print(f"the last occurance of word{w} is in {x} position")

enter the string Gaurav
enter the word whose last occurance to be find a
the last occurance of worda is in 5 position

14. Split a string into a list of words.

In [64]:
a=input("Enter the string")
print(a.split())

Enter the stringGaurav Singh Rawat
['Gaurav', 'Singh', 'Rawat']

15. Join a list of words into a string.

In [67]:
a=['Gaurav','Singh','Rawat']
print(" ".join(a))                            # join() function is used to join the words of the list

Gaurav Singh Rawat

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [69]:
a=input("Enter the string ")
print(a.replace(" ","_"))

Enter the stringGaurav Singh Rawat
Gaurav_Singh_Rawat

17. Check if a string starts with a specific word or phrase.

In [71]:
a=input("Enter the string ")
w=input("Enter a word to check it is start with")
print(a.startswith(w))

Enter the string how are you
Enter a word to check it is start withhow
True

18. Check if a string ends with a specific word or phrase.

In [72]:
a=input("Enter the string ")
w=input("Enter a word to check it is end with")
print(a.endswith(w))

Enter the string gaurav
Enter a word to check it is end withav
True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [75]:
a=input("Enter the string ")
print(a.title())

Enter the string hello world
Hello World

20. Find the longest word in a string.

In [87]:
a=input("Enter the string ")
l=a.split()
x=""
for i in l:
  if len(i)>len(x):
    x=i
print(f"the largest word is {x}")

Enter the string gaurav the great
the largest word is gaurav

21. Find the shortest word in a string.

In [91]:
a=input("Enter the string ")
l=a.split()
x=""
for i in l:
  if x=="":
    x=i
  if len(i)<len(x):
    x=i
print(f"the shortest word is {x}")

Enter the string Gaurav the great
the shortest word is the

22. Reverse the order of words in a string.

In [92]:
a=input("Enter the string ")
print(a[::-1])

Enter the string gaurav
varuag

23. Check if a string is alphanumeric.

In [94]:
a=input("Enter the string ")
print(a.isalnum())

Enter the string gaurav123
True

24. Extract all digits from a string.

In [103]:
a=input("Enter the string ")
for i in range(0,10):
  if str(i) in a:
    print(i,end=" ")

Enter the string gauravj098092
0 2 8 9

# **OR**

In [104]:
a=input("Enter the string ")
for i in a:
  if i.isdigit():    #isdigit() function check wheter itr contain digit or not and return boolean true or false
    print(i,end=' ')

Enter the string gaut787huh8
7 8 7 8

25. Extract all alphabets from a string.

In [101]:
a=input("Enter the string ")
for i in a:
  if "a"<=i<="z":
    print(i,end=" ")

Enter the string gau7189rt
g a u r t

26. Count the number of uppercase letters in a string.

In [107]:
a=input("Enter the string ")
count=0
for i in a:
  if "A"<=i<="Z":
    count+=1
print(f"the number of uppercase letter are {count}")

Enter the string GaUrAv
the number of uppercase letter are 3

27. Count the number of lowercase letters in a string.

In [108]:
a=input("Enter the string ")
count=0
for i in a:
  if "a"<=i<="z":
    count+=1
print(f"the number of lowercase letter are {count}")

Enter the string GaUrAv rAwAt
the number of lowercase letter are 6

28. Swap the case of each character in a string.

In [109]:
a=input("Enter the string ")
print(a.swapcase())

Enter the string GaUrAv
gAuRaV

29. Remove a specific word from a string.

In [111]:
a=input("Enter the string ")
w=input("enter the word to be removed")
print(a.replace(w,""))

Enter the string gaurav
enter the word to be removedr
gauav

30. Check if a string is a valid email address.

In [124]:
a=input("enter an email address ")
x="@gmail.com"
if a.endswith(x) and a.count(x)==1 and a.startswith(x)== False:
  print("email is valid")
else:
  print("email is invalid")

enter an email address gauravrawat13@gmail.com
email is valid

31. Extract the username from an email address string.

In [126]:
a=input("enter an email address ")
username=""
for i in a:
  if (i!='@'):
    username+=i
  else:
    break
print(username)

enter an email address buahsb@gmail.com
buahsb

# **Or**

In [129]:
a = input('enter the email address ')
a[:a.find('@')]

enter the email address gaurav12@gmail.com

'gaurav12'

32. Extract the domain name from an email address string.

In [130]:
a = input('enter the email address ')
a[a.find('@'):]

enter the email address nuksnz@gmail.com

'@gmail.com'

33. Replace multiple spaces in a string with a single space.

In [134]:
a=input("enter the string")
print(' '.join(a.split()))

enter the string       gaurav       rawat kknks     k
gaurav rawat kknks k

34. Check if a string is a valid URL.

In [137]:
a=input("enter the url: ")
n=a.endswith(' ')
if( a.startswith('https://')== True  and a.count('https://')==1):
  print('url is valid')
elif( a.startswith('https://') == True  and a.count('http://')==1):
  print('url is valid')
else:
  print('url is not valid')

enter the url: https://www.google.com/
url is valid

35. Extract the protocol (http or https) from a URL string.

In [140]:
a=input("enter the url: ")
a[:a.find(':')]

enter the url: https://www.google.com/

'https'

36. Find the frequency of each character in a string.

In [162]:
a=input("Enter the string ")
x={}
for i in a:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

Enter the string gaurav
{'g': 1, 'a': 2, 'u': 1, 'r': 1, 'v': 1}

37. Remove all punctuation from a string.

In [145]:
a=input("Enter the string ")
x="!@#$%^&*()"
y=""
for i in a:
  if i not in x:
    y+=i
print(y)

Enter the string g!a@u#rav
gaurav

38. Check if a string contains only digits.

In [147]:
a=input("Enter the string ")
print(a.isdigit())            #will return true if string only contains digit

Enter the string 15752
True

39. Check if a string contains only alphabets.

In [152]:
a=input("Enter the string ")
print(a.isalpha())             #will return true if string only contain alphabets

Enter the string gaurav
True

40. Convert a string to a list of characters.

In [150]:
a=input("Enter the string ")
x=[]
for i in a:
  x.append(i)
print(x)

Enter the string Gaurav
['G', 'a', 'u', 'r', 'a', 'v']

41. Check if two strings are anagrams.

In [157]:
a=input("enter a word")
b=input("enter another word")
x=[]
y=[]
for i in a:
  x.append(i)
for j in b:
  y.append(j)
if set(x)==set(y) and len(x)==len(y):
  print("a and b are anagrams")
else:
  print("a and b are not anagrams")

enter a wordajay
enter another wordjaya
a and b are anagrams

42. Encode a string using a Caesar cipher.

In [160]:
a=input("enter a word ")
x=""
for i in a:
  y=ord(i)+3             #shifting to the next 3rd value
  x+=chr(y)
print(x)

enter a wordhello
khoor

43. Decode a Caesar cipher encoded string.

In [161]:
a=input("enter a word ")
x=""
for i in a:
  y=ord(i)-3
  x+=chr(y)
print(x)

enter a word khoor
hello

44. Find the most frequent word in a string.

In [165]:
a=input("Enter the string ")
b=a.split()                        # will split the whole string in list
x={}
count=0
for i in b:                         # will access each element in list
  if i in x:
    x[i]+=1
  else:
    x[i]=1

for j in x:
  if x[j]>count:
    count=x[j]
    y=j
print(f"the most frequent word is {y}")

Enter the string this is the best lapyop in the world is is is
the most frequent character is is

45. Find all unique words in a string.

In [167]:
a=input("Enter the string ")
x=""
for i in a:
  if i not in x:
    x+=i
print(f"the unique words are {x}")

Enter the string gauravgauravgaurav
the unique words are gaurv

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [171]:
a=input("Enter the string ")
x='!@#$%^&*()'
count=0
for i in a:
  if i in x:
    count+=1
print(f'there are {count} special characters')

Enter the string G!A@U#R$
there are 4 special characters

48. Remove the nth word from a string.

In [1]:
a=input("enter a string ")
n=int(input("enter the number of the element to be remove"))
b=a.split()
b.pop(n-1)
print(" ".join(b))

enter a stringgaurav is the great
enter the number of the element to be remove3
gaurav is great

49. Insert a word at the nth position in a string.

In [175]:
a=input("enter a string")
n=int(input("enter the nth position to be insert"))
b=a.split()
b.insert(n-1,input("enter the word to be insert"))
print(" ".join(b))

enter a stringgaurav is great
enter the nth position to be insert3
enter the word to be insertthe
gaurav is the great

50. Convert a CSV string to a list of lists.

# **List**

1. Create a list with integers from 1 to 10.

In [2]:
a=[]
for i in range (1,11):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [3]:
a=[1,2,3,4,5,6,34,32]
count=0
for i in a:
  count+=1
print(f"the length of list is {count}")

the length of list is 8

In [4]:
a=[1,2,3,4,5,6]
n=int(input("enter the no. to be append"))
a.append(n)
print(a)

enter the no. to be append45
[1, 2, 3, 4, 5, 6, 45]

4. Insert an element at a specific index in a list.

In [5]:
a=[1,2,3,4,5,6,7]
i=int(input("enter the index"))
n=int(input("enter the no. to be insert"))
a.insert(i,n)
print(a)

enter the index5
enter the no. to be insert56
[1, 2, 3, 4, 5, 56, 6, 7]

5. Remove an element from a list by its value.

In [6]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the no. to be removed"))
a.remove(n)
print(a)

enter the no. to be removed5
[1, 2, 3, 4, 6, 7, 8]

6. Remove an element from a list by its index.

In [7]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the index of no. to be removed"))
a.pop(n)
print(a)

enter the index of no. to be removed2
[1, 2, 4, 5, 6, 7, 8]

7. Check if an element exists in a list.

In [8]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the no. to be check"))
if n in a:
  print("no. is present in the list")
else:
  print("no. is not present in the list")

enter the no. to be check4
no. is present in the list

8. Find the index of the first occurrence of an element in a list.

In [11]:
a=[1,2,3,4,3,4,5,6,7,8]
n=int(input("enter the no. of which 1st index to be checked "))
for i in a:
  if i==n:
    x=a.index(i)
    break
print(f"the index of {n} is {x}")

enter the no. of which 1st index to be checked 4
the index of 4 is 3

9. Count the occurrences of an element in a list.

In [12]:
a=[1,2,3,1,2,3,1,2,3,3,4,5]
n=int(input("enter the no. of which occurance is to be found "))
count=0
for i in a:
  if i==n:
    count+=1
print(f"the occurance of {n} is {count} times")

enter the no. of which occurance is to be found 3
the occurance of 3 is 4 times

10. Reverse the order of elements in a list.

In [13]:
a=[1,2,3,4,5,6,7]
print(a[::-1])

[7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [14]:
a=[1,2,3,4,45,6,3,42]
a.sort()
print(a)

[1, 2, 3, 3, 4, 6, 42, 45]

12. Sort a list in descending order.

In [15]:
a=[1,2,3,4,3,2,3,5,6]
a.reverse()
print(a)

[6, 5, 3, 2, 3, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [16]:
[i for i in range (1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [17]:
[i for i in range (1,21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [18]:
a=[1,2,3,4,5,4,3,2,1]
sum=0
for i in a:
  sum+=i
print(sum)

25

16. Find the maximum value in a list.

In [19]:
a=[1,2,3,4,3,2,5,6,45]
print(max(a))

45

17. Find the minimum value in a list.

In [20]:
a=[1,2,3,4,3,2,5,6,45]
print(min(a))

1

18. Create a list of squares of numbers from 1 to 10.

In [21]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [29]:
import random
a=[]
for i in range (1,10):
  a.append(random.randint(1,100))
print(a)

[51, 79, 16, 55, 40, 16, 16, 72, 94]

20. Remove duplicates from a list.

In [32]:
a=[1,2,3,2,1,2,4,5,6,5,6,7,4,3,8]
b=[]
for i in a :
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

# **Or**

In [33]:
list(set(a))

[1, 2, 3, 4, 5, 6, 7, 8]

21. Find the common elements between two lists.

In [35]:
a=[1,2,3,2,3,4,5,4,3,4,5]
b=[2,3,4,3,2,5,4,3,6,5,4]
c=list(set(a).intersection(set(b)))
print(c)

[2, 3, 4, 5]

# **Or**

In [37]:
c=[]
for i in a:
  if i in b:
    c.append(i)

print(list(set(c)))

[2, 3, 4, 5]

22. Find the difference between two lists.

In [44]:
a=[1,3,7,2,4,6,8,10]
b=[1,3,5,7,9]
c=list(set(a).difference(set(b)))
print(c)

[2, 4, 6, 8, 10]

23. Merge two lists.

In [49]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# OR

In [50]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [51]:
[i*2 for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [53]:
a=[1,2,3,4,5,6,7,45,34,22]
for i in a:
  if i %2==0:
    print(i,end=" ")

2 4 6 34 22