<a href="https://colab.research.google.com/github/gauravr1104/02_05_String/blob/main/05_05_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String**

1. Write a program to reverse a string.

In [ ]:
a=input("enter the string ")   #taking input from the user
print(a[::-1])                #reversing the string using indexing and slicing

enter the stringgaurav
varuag

2. Check if a string is a palindrome.

In [ ]:
a=input("enter the string ")
if a==a[::-1]:
  print("palindrome")
else:
  print("not palindrome")

enter the stringABBA
palindrome

3. Convert a string to uppercase.

In [ ]:
a=input("enter the string")
print(a.upper())

enter the stringgaurav
GAURAV

4. Convert a string to lowercase.

In [ ]:
a=input("enter the string")
print(a.lower())

enter the stringGAURAV
gaurav

5. Count the number of vowels in a string.

In [ ]:
a=input("enter the string ")
count=0
b="aeiou"
for i in a:
  if i.lower() in b:
    count+=1
print(f"the number of vowels are {count}")

enter the string aeioubha
the number of vowels are 6

6. Count the number of consonants in a string.

In [ ]:
a=input("enter the string ")
count=0
b='aeiou'
for i in a:
  if i.lower() not in b:
    count+=1
print(f"the number of Consonent are {count}")

enter the string GAURAV
the number of Consonent are 3

7. Remove all whitespaces from a string.

In [ ]:
a=input("enter the string ")
print(a.replace(" ",""))

enter the string                gaurav      singh      rawat
gauravsinghrawat

8. Find the length of a string without using the `len()` function.

In [ ]:
a=input("enter the string ")
count=0
for i in a:
  count+=1
print(f"total length is {count}")

enter the string gaurav
total length is 6

9. Check if a string contains a specific word.

In [ ]:
a=input("enter the string ")
word=input("enter a word to find ")
x=a.find(word)
if x==-1:
  print(f"string does not contain {word}")
else:
  print(f"given string contain {word}")

enter the string Gaurav
enter a word to find r
given string contain r

10. Replace a word in a string with another word.

In [ ]:
a=input("enter the string ")
w=input("enter a word that to be replaced")
r=input("enter the word")
print(a.replace(w,r))

enter the string Gaurav
enter a word that to be replacedr
enter the wordt
Gautav

11. Count the occurrences of a word in a string.

In [ ]:
a=input("enter the string ")
w=input('enter the word whose occurance to be find ')
count=0
x={}
for i in a:
  if i==w:
    count+=1
print(f'the word {w} is occuring {count} times in a string')

enter the string Gaurav
enter the word whose occurance to be find a
the word a is occuring 2 times in a string

12. Find the first occurrence of a word in a string.

In [ ]:
a=input("enter the string ")
w=input('enter the word whose first occurance to be find ')
for i in a:
  if i == w:
    x=a.find(i)+1
print(f"the firsts occurance of word{w} is in {x} position")

enter the string gaurav
enter the word whose first occurance to be find a
the firsts occurance of worda is in 2 position

13. Find the last occurrence of a word in a string.

In [ ]:
a=input("enter the string ")
w=input('enter the word whose last occurance to be find ')
for i in a:
  if i == w:
    x=a.rfind(i)+1                   #rfind() functiion is used to find the highest index of substring
print(f"the last occurance of word{w} is in {x} position")

enter the string Gaurav
enter the word whose last occurance to be find a
the last occurance of worda is in 5 position

14. Split a string into a list of words.

In [ ]:
a=input("Enter the string")
print(a.split())

Enter the stringGaurav Singh Rawat
['Gaurav', 'Singh', 'Rawat']

15. Join a list of words into a string.

In [ ]:
a=['Gaurav','Singh','Rawat']
print(" ".join(a))                            # join() function is used to join the words of the list

Gaurav Singh Rawat

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
a=input("Enter the string ")
print(a.replace(" ","_"))

Enter the stringGaurav Singh Rawat
Gaurav_Singh_Rawat

17. Check if a string starts with a specific word or phrase.

In [ ]:
a=input("Enter the string ")
w=input("Enter a word to check it is start with")
print(a.startswith(w))

Enter the string how are you
Enter a word to check it is start withhow
True

18. Check if a string ends with a specific word or phrase.

In [ ]:
a=input("Enter the string ")
w=input("Enter a word to check it is end with")
print(a.endswith(w))

Enter the string gaurav
Enter a word to check it is end withav
True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
a=input("Enter the string ")
print(a.title())

Enter the string hello world
Hello World

20. Find the longest word in a string.

In [ ]:
a=input("Enter the string ")
l=a.split()
x=""
for i in l:
  if len(i)>len(x):
    x=i
print(f"the largest word is {x}")

Enter the string gaurav the great
the largest word is gaurav

21. Find the shortest word in a string.

In [ ]:
a=input("Enter the string ")
l=a.split()
x=""
for i in l:
  if x=="":
    x=i
  if len(i)<len(x):
    x=i
print(f"the shortest word is {x}")

Enter the string Gaurav the great
the shortest word is the

22. Reverse the order of words in a string.

In [ ]:
a=input("Enter the string ")
print(a[::-1])

Enter the string gaurav
varuag

23. Check if a string is alphanumeric.

In [ ]:
a=input("Enter the string ")
print(a.isalnum())

Enter the string gaurav123
True

24. Extract all digits from a string.

In [ ]:
a=input("Enter the string ")
for i in range(0,10):
  if str(i) in a:
    print(i,end=" ")

Enter the string gauravj098092
0 2 8 9

# **OR**

In [ ]:
a=input("Enter the string ")
for i in a:
  if i.isdigit():    #isdigit() function check wheter itr contain digit or not and return boolean true or false
    print(i,end=' ')

Enter the string gaut787huh8
7 8 7 8

25. Extract all alphabets from a string.

In [ ]:
a=input("Enter the string ")
for i in a:
  if "a"<=i<="z":
    print(i,end=" ")

Enter the string gau7189rt
g a u r t

26. Count the number of uppercase letters in a string.

In [ ]:
a=input("Enter the string ")
count=0
for i in a:
  if "A"<=i<="Z":
    count+=1
print(f"the number of uppercase letter are {count}")

Enter the string GaUrAv
the number of uppercase letter are 3

27. Count the number of lowercase letters in a string.

In [ ]:
a=input("Enter the string ")
count=0
for i in a:
  if "a"<=i<="z":
    count+=1
print(f"the number of lowercase letter are {count}")

Enter the string GaUrAv rAwAt
the number of lowercase letter are 6

28. Swap the case of each character in a string.

In [ ]:
a=input("Enter the string ")
print(a.swapcase())

Enter the string GaUrAv
gAuRaV

29. Remove a specific word from a string.

In [ ]:
a=input("Enter the string ")
w=input("enter the word to be removed")
print(a.replace(w,""))

Enter the string gaurav
enter the word to be removedr
gauav

30. Check if a string is a valid email address.

In [ ]:
a=input("enter an email address ")
x="@gmail.com"
if a.endswith(x) and a.count(x)==1 and a.startswith(x)== False:
  print("email is valid")
else:
  print("email is invalid")

enter an email address gauravrawat13@gmail.com
email is valid

31. Extract the username from an email address string.

In [ ]:
a=input("enter an email address ")
username=""
for i in a:
  if (i!='@'):
    username+=i
  else:
    break
print(username)

enter an email address buahsb@gmail.com
buahsb

# **Or**

In [ ]:
a = input('enter the email address ')
a[:a.find('@')]

enter the email address gaurav12@gmail.com

'gaurav12'

32. Extract the domain name from an email address string.

In [ ]:
a = input('enter the email address ')
a[a.find('@'):]

enter the email address nuksnz@gmail.com

'@gmail.com'

33. Replace multiple spaces in a string with a single space.

In [ ]:
a=input("enter the string")
print(' '.join(a.split()))

enter the string       gaurav       rawat kknks     k
gaurav rawat kknks k

34. Check if a string is a valid URL.

In [ ]:
a=input("enter the url: ")
n=a.endswith(' ')
if( a.startswith('https://')== True  and a.count('https://')==1):
  print('url is valid')
elif( a.startswith('https://') == True  and a.count('http://')==1):
  print('url is valid')
else:
  print('url is not valid')

enter the url: https://www.google.com/
url is valid

35. Extract the protocol (http or https) from a URL string.

In [ ]:
a=input("enter the url: ")
a[:a.find(':')]

enter the url: https://www.google.com/

'https'

36. Find the frequency of each character in a string.

In [ ]:
a=input("Enter the string ")
x={}
for i in a:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

Enter the string gaurav
{'g': 1, 'a': 2, 'u': 1, 'r': 1, 'v': 1}

37. Remove all punctuation from a string.

In [ ]:
a=input("Enter the string ")
x="!@#$%^&*()"
y=""
for i in a:
  if i not in x:
    y+=i
print(y)

Enter the string g!a@u#rav
gaurav

38. Check if a string contains only digits.

In [ ]:
a=input("Enter the string ")
print(a.isdigit())            #will return true if string only contains digit

Enter the string 15752
True

39. Check if a string contains only alphabets.

In [ ]:
a=input("Enter the string ")
print(a.isalpha())             #will return true if string only contain alphabets

Enter the string gaurav
True

40. Convert a string to a list of characters.

In [ ]:
a=input("Enter the string ")
x=[]
for i in a:
  x.append(i)
print(x)

Enter the string Gaurav
['G', 'a', 'u', 'r', 'a', 'v']

41. Check if two strings are anagrams.

In [ ]:
a=input("enter a word")
b=input("enter another word")
x=[]
y=[]
for i in a:
  x.append(i)
for j in b:
  y.append(j)
if set(x)==set(y) and len(x)==len(y):
  print("a and b are anagrams")
else:
  print("a and b are not anagrams")

enter a wordajay
enter another wordjaya
a and b are anagrams

42. Encode a string using a Caesar cipher.

In [ ]:
a=input("enter a word ")
x=""
for i in a:
  y=ord(i)+3             #shifting to the next 3rd value
  x+=chr(y)
print(x)

enter a wordhello
khoor

43. Decode a Caesar cipher encoded string.

In [ ]:
a=input("enter a word ")
x=""
for i in a:
  y=ord(i)-3
  x+=chr(y)
print(x)

enter a word khoor
hello

44. Find the most frequent word in a string.

In [ ]:
a=input("Enter the string ")
b=a.split()                        # will split the whole string in list
x={}
count=0
for i in b:                         # will access each element in list
  if i in x:
    x[i]+=1
  else:
    x[i]=1

for j in x:
  if x[j]>count:
    count=x[j]
    y=j
print(f"the most frequent word is {y}")

Enter the string this is the best lapyop in the world is is is
the most frequent character is is

45. Find all unique words in a string.

In [ ]:
a=input("Enter the string ")
x=""
for i in a:
  if i not in x:
    x+=i
print(f"the unique words are {x}")

Enter the string gauravgauravgaurav
the unique words are gaurv

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [ ]:
a=input("Enter the string ")
x='!@#$%^&*()'
count=0
for i in a:
  if i in x:
    count+=1
print(f'there are {count} special characters')

Enter the string G!A@U#R$
there are 4 special characters

48. Remove the nth word from a string.

In [ ]:
a=input("enter a string ")
n=int(input("enter the number of the element to be remove"))
b=a.split()
b.pop(n-1)
print(" ".join(b))

enter a stringgaurav is the great
enter the number of the element to be remove3
gaurav is great

49. Insert a word at the nth position in a string.

In [ ]:
a=input("enter a string")
n=int(input("enter the nth position to be insert"))
b=a.split()
b.insert(n-1,input("enter the word to be insert"))
print(" ".join(b))

enter a stringgaurav is great
enter the nth position to be insert3
enter the word to be insertthe
gaurav is the great

50. Convert a CSV string to a list of lists.

In [ ]:
import pandas as pd

text = ['''Name,Age,Country
Alice,30,USA
Bob,25,Canada
Charlie,35,UK''']

df = pd.DataFrame({"text":text})
df.to_csv("text.csv")

x=[]
a=open("text.csv")
f= a.read()
b=str(f).split()
for i in b:
  x.append([i])
print(x[1:])
a.close()

[['0,"Name,Age,Country'], ['Alice,30,USA'], ['Bob,25,Canada'], ['Charlie,35,UK"']]

# **List*

1. Create a list with integers from 1 to 10.

In [ ]:
a=[]
for i in range (1,11):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
a=[1,2,3,4,5,6,34,32]
count=0
for i in a:
  count+=1
print(f"the length of list is {count}")

the length of list is 8

In [ ]:
a=[1,2,3,4,5,6]
n=int(input("enter the no. to be append"))
a.append(n)
print(a)

enter the no. to be append45
[1, 2, 3, 4, 5, 6, 45]

4. Insert an element at a specific index in a list.

In [ ]:
a=[1,2,3,4,5,6,7]
i=int(input("enter the index"))
n=int(input("enter the no. to be insert"))
a.insert(i,n)
print(a)

enter the index5
enter the no. to be insert56
[1, 2, 3, 4, 5, 56, 6, 7]

5. Remove an element from a list by its value.

In [ ]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the no. to be removed"))
a.remove(n)
print(a)

enter the no. to be removed5
[1, 2, 3, 4, 6, 7, 8]

6. Remove an element from a list by its index.

In [ ]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the index of no. to be removed"))
a.pop(n)
print(a)

enter the index of no. to be removed2
[1, 2, 4, 5, 6, 7, 8]

7. Check if an element exists in a list.

In [ ]:
a=[1,2,3,4,5,6,7,8]
n=int(input("enter the no. to be check"))
if n in a:
  print("no. is present in the list")
else:
  print("no. is not present in the list")

enter the no. to be check4
no. is present in the list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
a=[1,2,3,4,3,4,5,6,7,8]
n=int(input("enter the no. of which 1st index to be checked "))
for i in a:
  if i==n:
    x=a.index(i)
    break
print(f"the index of {n} is {x}")

enter the no. of which 1st index to be checked 4
the index of 4 is 3

9. Count the occurrences of an element in a list.

In [ ]:
a=[1,2,3,1,2,3,1,2,3,3,4,5]
n=int(input("enter the no. of which occurance is to be found "))
count=0
for i in a:
  if i==n:
    count+=1
print(f"the occurance of {n} is {count} times")

enter the no. of which occurance is to be found 3
the occurance of 3 is 4 times

10. Reverse the order of elements in a list.

In [ ]:
a=[1,2,3,4,5,6,7]
print(a[::-1])

[7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
a=[1,2,3,4,45,6,3,42]
a.sort()
print(a)

[1, 2, 3, 3, 4, 6, 42, 45]

12. Sort a list in descending order.

In [ ]:
a=[1,2,3,4,3,2,3,5,6]
a.reverse()
print(a)

[6, 5, 3, 2, 3, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
[i for i in range (1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
[i for i in range (1,21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
a=[1,2,3,4,5,4,3,2,1]
sum=0
for i in a:
  sum+=i
print(sum)

25

16. Find the maximum value in a list.

In [ ]:
a=[1,2,3,4,3,2,5,6,45]
print(max(a))

45

17. Find the minimum value in a list.

In [ ]:
a=[1,2,3,4,3,2,5,6,45]
print(min(a))

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random
a=[]
for i in range (1,10):
  a.append(random.randint(1,100))
print(a)

[51, 79, 16, 55, 40, 16, 16, 72, 94]

20. Remove duplicates from a list.

In [ ]:
a=[1,2,3,2,1,2,4,5,6,5,6,7,4,3,8]
b=[]
for i in a :
  if i not in b:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

# **Or**

In [ ]:
list(set(a))

[1, 2, 3, 4, 5, 6, 7, 8]

21. Find the common elements between two lists.

In [ ]:
a=[1,2,3,2,3,4,5,4,3,4,5]
b=[2,3,4,3,2,5,4,3,6,5,4]
c=list(set(a).intersection(set(b)))
print(c)

[2, 3, 4, 5]

# **Or**

In [ ]:
c=[]
for i in a:
  if i in b:
    c.append(i)

print(list(set(c)))

[2, 3, 4, 5]

22. Find the difference between two lists.

In [ ]:
a=[1,3,7,2,4,6,8,10]
b=[1,3,5,7,9]
c=list(set(a).difference(set(b)))
print(c)

[2, 4, 6, 8, 10]

23. Merge two lists.

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# OR

In [ ]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [ ]:
[i*2 for i in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [ ]:
a=[1,2,3,4,5,6,7,45,34,22]
for i in a:
  if i %2==0:
    print(i,end=" ")

2 4 6 34 22

26. Convert a list of strings to a list of integers.

In [ ]:
a=['1','2','3','4','5']
x=list(map(int,a))
print(x)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [ ]:
a=[1,2,3,4,5,6]
x=list(map(str,a))
print(x)

['1', '2', '3', '4', '5', '6']

28. Flatten a nested list.

In [ ]:
a=[1,2,3,4,5,6,[8,7,6,5,4,3,2]]
b=[]
for i in a:
  if type(i)==list:
    b.extend(i)
  else:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 8, 7, 6, 5, 4, 3, 2]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
a=[]
x=0
y=1
a.append(x)
a.append(y)
for i in range(1,9):
  c=x+y
  x=y
  y=c
  a.append(c)
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
a=[1,2,3,4,9,5,6]
# we dont use a.sort() because it will return none by default
if a==sorted(a):               #sorted() function return the new list
  print("list is sorted")
else:
  print("list is not sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
a=[1,2,3,4,5,6,7]
n=int(input("enter the number of rotation"))
for i in range(0,n):
  a.append(a[0])
  a.pop(0)
print(a)

enter the number of rotation2
[3, 4, 5, 6, 7, 1, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
a=[1,2,3,4,5,6,7]
n=int(input("enter the number of rotation"))
for i in range(0,n):
  a.insert(0,a[-1])
  a.pop(-1)
print(a)

enter the number of rotation2
[6, 7, 1, 2, 3, 4, 5]

33. Create a list of prime numbers up to 50.

In [ ]:
[i for i in range(2,51) if all(i%j!=0 for j in range(2,i))]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# OR

In [ ]:
a=[]
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    a.append(i)
print(a)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
x=[]
b=[]
n=int(input("enter the size of chunk"))
for i in a:
  b.append(i)
  if len(b)==n:
    x.append(b)
    b=[]
if b:
  x.append(b)
print(x)

enter the size of chunk2
[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

35. Find the second largest number in a list.

In [ ]:
a=[4,5,3,7,6,33,5,23,76,43]
a.sort()
print(a[-2])

43

36. Replace every element in a list with its square.

In [ ]:
def square(x):
  return x*x
a=[3,2,4,5,1,6]
print(list(map(square,a)))

[9, 4, 16, 25, 1, 36]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
a=[3,4,2,5,7,1,8]        # for the unique element in list only
x={}
for i in a:
  x[i]=a.index(i)
print(x)

{3: 0, 4: 1, 2: 2, 5: 3, 7: 4, 1: 5, 8: 6}

38. Shuffle the elements of a list randomly.

In [ ]:
import random
a=[1,2,3,4,5,6,7,8]
random.shuffle(a)
print(a)

[8, 3, 6, 4, 5, 1, 7, 2]

39. Create a list of the first 10 factorial numbers.

In [ ]:
def fact(n):
  if(n==0 or n==1):
    return n
  else:
    return n*fact(n-1)
a=[]
for i in range(1,11):
  x=fact(i)
  a.append(x)
print(a)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8]
if len(set(a).intersection(set(b)))>=1:
  print("common element is present")
else:
  print("common element is not present")

common element is not present

41. Remove all elements from a list.

In [ ]:
a=[3,2,4,5,3,4,6,7,8,1]
a.clear()
print(a)

[]

42. Replace negative numbers in a list with 0.

In [ ]:
a=[2,3,-1,-3,-4,0,4,6]
for i in a:
  if i<0:
    x=a.index(i)
    a.insert(x,0)
    a.remove(i)
print(a)

[2, 3, 0, 0, 0, 0, 4, 6]

43. Convert a string into a list of words.

In [ ]:
a=input("enter a string")
print(a.split())

enter a stringGaurav Singh Rawat
['Gaurav', 'Singh', 'Rawat']

44. Convert a list of words into a string.

In [ ]:
a=['a','b','c','d']
print(''.join(a))

abcd

45. Create a list of the first `n` powers of 2.

In [ ]:
n=int(input("enter the no. of power, you want to create a list of "))
a=[]
for i in range(1,n+1):
  a.append(2**i)
print(a)

enter the no. of power, you want to create a list of 10
[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

46. Find the longest string in a list of strings.

In [ ]:
l=['apple','banana','ab','giydhiwu']                # for the unique no. of length
x=""
for i in l:
  if len(i)>len(x):
    x=i
print(f"the longest string is {x}")

the longest string is giydhiwu

47. Find the shortest string in a list of strings.

In [ ]:
l=['apple','banana','ab']               # for the unique no. of length
x=l[0]
for i in l:
  if len(i)<len(x):
    x=i
print(f"the shortest word is {x}")

the shortest word is ab

48. Create a list of the first `n` triangular numbers.

In [ ]:
n=int(input("enter a number"))
a=[]
sum=0
for i in range(1,n+1):
  sum+=i
  a.append(sum)
print(a)

enter a number10
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [ ]:
a=[1,2,3,4,5,6]
b=[2,4]
for i in b:
  if i in a:
    print("b is subsequence of a")
    break
else:
  print("b is not subsequence of a")

b is subsequence of a

50. Swap two elements in a list by their indices.

In [ ]:
a=[1,2,3,4,5,6,7,8]
b=0
for i in range(0,len(a),2):
  b=a[i]
  a[i]=a[i+1]
  a[i+1]=b
print(a)

[2, 1, 4, 3, 6, 5, 8, 7]

# **Tuple**

1. Create a tuple with integers from 1 to 5.

In [ ]:
a=()
for i in range(1,6):
  a+=(i,)                     # we have to take a comma with an integer oherwise it will take an integer in a bracket
print(a)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
a=(1,2,3,4,5)
print(a[2])

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
a=(1,2,3,4,5,6)
count= 0
for i in a:
  count+=1
print(count)

6

4. Count the occurrences of an element in a tuple.

In [ ]:
a=(1,2,3,4,5,3,4,3,4,5,6,3,6)
n=int(input("enter the no. of which occurance is to be found "))
count= 0
for i in a:
  if i == n:
    count+=1
print(f"the occurance of {n} is {count}")

enter the no. of which occurance is to be found 3
the occurance of 3 is 4

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
a=(1,2,3,4,3,4,5,6,7,8)
n=int(input("enter the no. of which 1st index to be checked "))
for i in a:
  if i==n:
    x=a.index(i)
    break
print(f"the index of {n} is {x}")

enter the no. of which 1st index to be checked 3
the index of 3 is 2

6. Check if an element exists in a tuple

In [ ]:
a=(1,2,3,4,5,6,7)
n=int(input("enter an element"))
for i in a:
  if i==n:
    print(f"{n} is present in tuple")
    break
else:
  print(f"{n} is not present in tuple")

enter an element5
5 is present in tuple

7. Convert a tuple to a list.

In [ ]:
a=(1,2,3,4,5,6)
print(list(a))

[1, 2, 3, 4, 5, 6]

8. Convert a list to a tuple.

In [ ]:
a=[1,2,3,4,5]
print(tuple(a))

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [ ]:
a=(1,2,3,4,5,6)
for i in a:
  print(i,end=" ")

1 2 3 4 5 6

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
a=()
for i in range(1,11):
  if i%2 ==0:
    a+=(i,)
print(a)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
a=()
for i in range(1,11):
  if i%2 !=0:
    a+=(i,)
print(a)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [ ]:
a=(1,2,3,4,5)
print(a*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [ ]:
t=(1,)
if t == ():
  print("tuple is empty")
else:
  print("tuple is not empty")

tuple is not empty

15. Create a nested tuple.

In [ ]:
t=()
for i in range(1,5):
  t+=((i,i+1),)
print(t)

((1, 2), (2, 3), (3, 4), (4, 5))

16. Access the first element of a nested tuple.

In [ ]:
t=((1,2),(3,4),(4,5))
for i in t:
  print(i[0])

1
3
4

17. Create a tuple with a single element.

In [ ]:
t=(4,)

# OR

In [ ]:
n=(int(input("enter a no.")))
t=(n,)
print(t)

enter a no.4
(4,)

18. Compare two tuples.

In [ ]:
a=(1,2,3,4,5)
b=(3,2,4,5,1)
if a==b:
  print("both tuple are same")
else:
  print("they are not same")

they are not same

19. Delete a tuple.

In [ ]:
a=(1,2,3,4,5)
del(a)
print("tuple is deleted")

tuple is deleted

20. Slice a tuple.

In [ ]:
a=(1,2,3,4,5)
b=a[1:4]
print(b)

(2, 3, 4)

21. Find the maximum value in a tuple.

In [ ]:
a=(1,2,3,4,5)
print(max(a))

5

22. Find the minimum value in a tuple.

In [ ]:
a=(1,2,3,4,5)
print(min(a))

1

23. Convert a string to a tuple of characters.

In [ ]:
a=input("enter a string")
t=()
for i in a :
  t+=(i,)
print(t)

enter a stringgaurav
('g', 'a', 'u', 'r', 'a', 'v')

24. Convert a tuple of characters to a string.

In [ ]:
t=('a','b','c')
b=''
for i in t:
  b+=i
print(b)
type(b)

abc

str

25. Create a tuple from multiple data types.

In [ ]:
a=int(input("enter a no."))
b=float(input("enter a float"))
c=input("enter a string")
t=(a,b,c)
print(t)

enter a no.1
enter a float2.0
enter a stringgaurav
(1, 2.0, 'gaurav')

26. Check if two tuples are identical.

In [ ]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)

if t1==t2:
    print("t1 and t2 are identical")
else:
    print("t1 and t2 are not identical")

t1 and t2 are identical

27. Sort the elements of a tuple.

In [ ]:
t1=(4,3,5,2,6,7,1)
a=list(t1)
a.sort()
t1=tuple(a)
print(t1)

(1, 2, 3, 4, 5, 6, 7)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
t1=(1,2,3,4,5,6)
t2=()
for i in t1:
  t2+=(str(i),)
print(t2)

('1', '2', '3', '4', '5', '6')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
t1=('1', '2', '3', '4', '5', '6')
t2=()
for i in t1:
  t2+=(int(i),)
print(t2)

(1, 2, 3, 4, 5, 6)

30. Merge two tuples.

In [ ]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(t1+t2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

31. Flatten a nested tuple.

In [ ]:
t1=(1,(2,3),4,5)
t2=()
for i in t1:
  if isinstance(i,tuple):
    for j in i:
      t2=t2+(j,)
  else:
    t2=t2+(i,)
print(t2)

(1, 2, 3, 4, 5)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
a=()
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    a+=(i,)
  if len(a)==5:
    break
print(a)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
t1=(1,2,3,2,1)
if t1==t1[::-1]:
  print("tuple is palindrome")
else:
  print("tuple is not palindrome")

tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
a=()
for i in range (1,6):
  a+=(i**2,)
print(a)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10)
for i in a:
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10

36. Multiply all elements in a tuple by 2.

In [ ]:
t1=(1,2,3,4,5,6)
t2=()
for i in t1:
  t2+=(i*2,)
print(t2)

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [ ]:
import random
a=()
for i in range (1,10):
  a+=(random.randint(1,100),)
print(a)

(79, 7, 5, 81, 33, 78, 74, 7, 72)

38. Check if a tuple is sorted.

In [ ]:
t1=(1,2,3,4,5,6)
if t1==tuple(sorted(t1)):
  print("tuple is sorted")
else:
  print("tuple is not sorted")

tuple is sorted

39. Rotate a tuple to the left by `n` positions.

In [ ]:
a=(1,2,3,4,5,6,7)
b=()
n=int(input("enter the number of rotation"))
b+=(a[n:])
b+=(a[0:n])
print(b)

enter the number of rotation2
(3, 4, 5, 6, 7, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
a=(1,2,3,4,5,6,7)
b=()
n=int(input("enter the number of rotation"))
b+=(a[-n:])
b+=(a[:-n])
print(b)

enter the number of rotation2
(6, 7, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
a=()
x=0
y=1
a=(x,y)
for i in range(1,9):
  c=x+y
  x=y
  y=c
  a+=(c,)
  if len(a)==5:
    break
print(a)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
t1=()
n=int(input("enter the number of element "))
for i in range(n):
  a=int(input("enter the element to be enter"))
  t1+=(a,)
print(t1)

enter the number of element 5
enter the element to be enter1
enter the element to be enter2
enter the element to be enter3
enter the element to be enter4
enter the element to be enter5
(1, 2, 3, 4, 5)

43. Swap two elements in a tuple.

In [ ]:
t1=(1,2,3,4,5)
a=int(input("enter the index of 1st element to be swap"))
b=int(input("enter the index of 2nd element to be swap"))
c=list(t1)
x=0

x=c[a]
c[a]=c[b]
c[b]=x
t1=tuple(c)
print(t1)

enter the index of 1st element to be swap2
enter the index of 2nd element to be swap4
(1, 2, 5, 4, 3)

44. Reverse the elements of a tuple.

In [ ]:
a=(1,2,3,4,5,6)
print(a[::-1])

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
a=()
n=int(input("enter the no. "))
for i in range(1,n+1):
  a+=(2**i,)
print(a)

enter the no. 5
(2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [ ]:
t1=('apple','banana','ab')
x=""
for i in t1:
  if len(i)>len(x):
    x=i
print(f"the longest string is {x}")

the longest string is banana

47. Find the shortest string in a tuple of strings.

In [ ]:
t1=('apple','banana','ab')               # for the unique no. of length
x=t1[0]
for i in l:
  if len(i)<len(x):
    x=i
print(f"the shortest word is {x}")

the shortest word is ab

48. Create a tuple of the first `n` triangular numbers.

In [55]:
a=()
n=int(input("enter the no. of element"))
sum=0
for i in range(1,n+1):
  sum+=i
  a+=(sum,)
print(a)

enter the no. of element9
(1, 3, 6, 10, 15, 21, 28, 36, 45)

49. Check if a tuple contains another tuple as a subsequence.

In [2]:
a=(1,2,3,4,5)
b=(2,4)
for i in b :
  if i in a:
    print("tuple contains another tuple as a subsequence")
  else:
    print("tuple does not contains another tuple as a subsequence" )

tuple contains another tuple as a subsequence
tuple contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [4]:
a=(1,0)
n=int(input("enter the no. of element "))
if(n%2==0):
  print(a*(n//2))
else:
  x=a*((n-1)//2)
  x+=(1,)
  print(x)

enter the no. of element 7
(1, 0, 1, 0, 1, 0, 1)

# **Set**

1. Create a set with integers from 1 to 5.

In [5]:
a=set()
for i in range(1,6):
  a.add(i)
print(a)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [6]:
a={1,2,3,4,5}
n=int(input("enter a no."))
a.add(n)
print(a)

enter a no.7
{1, 2, 3, 4, 5, 7}

3. Remove an element from a set.

In [8]:
a={1,2,3,4,5}
n=int(input("enter a no."))
a.remove(n)
print(a)

enter a no.3
{1, 2, 4, 5}

4. Check if an element exists in a set.

In [9]:
a={1,2,3,4,5}
n=int(input("enter a no."))
if n in a:
  print("element exists in a set")
else:
  print("element does not exists in a set")

enter a no.4
element exists in a set

5. Find the length of a set without using the `len()` function.

In [11]:
a={1,2,3,4,5}
count=0
for i in a:
  count+=1
print(f"total length of set is {count}")

total length of set is 5

6. Clear all elements from a set.

In [12]:
a={1,2,3,4,5}
a.clear()
print(a)

set()

7. Create a set of even numbers from 1 to 10.

In [13]:
a=set()
for i in range(1,11):
  if i %2 ==0:
    a.add(i)
print(a)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [14]:
a=set()
for i in range(1,11):
  if i %2 !=0:
    a.add(i)
print(a)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [15]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [16]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
print(a.intersection(b))

{3, 4, 5}

11. Find the difference between two sets.

In [17]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
print(a-b)

{1, 2}

12. Check if a set is a subset of another set.

In [20]:
a={1,2,3,4,5}
b={3,4,3,4,5}
if b.issubset(a):
  print("b is subset of a")
else:
  print("b is not subset of a")

b is subset of a

13. Check if a set is a superset of another set.

In [27]:
a={1,2,3,4,5}
b={4,5}
if a.issuperset(b):
  print("a is superset of b")
else:
  print("a is not superset of b")

a is superset of b

14. Create a set from a list.

In [28]:
a=[1,2,3,4,5,6,7]
print(set(a))

{1, 2, 3, 4, 5, 6, 7}

15. Convert a set to a list.

In [30]:
a={1,2,3,4,5}
print(list(a))

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [32]:
a={1,2,3,4,5,6,7,8}
n=int(input("enter any random no."))
a.remove(n)
print(a)

enter any random no.5
{1, 2, 3, 4, 6, 7, 8}

17. Pop an element from a set.

In [36]:
a={1,2,3,4,5,6,7}
a.pop()
print(a)

{2, 3, 4, 5, 6, 7}

18. Check if two sets have no elements in common.

In [38]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
if a.intersection(b):
  print("two sets have elements in common")
else:
  print("two sets have no elements in common")

two sets have elements in common

19. Find the symmetric difference between two sets.

In [39]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
print(a.symmetric_difference(b))

{1, 2, 3, 7, 8, 9}

20. Update a set with elements from another set.

In [40]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [57]:
a=set()
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    a.add(i)
  if len(a)==5:
    break
print(a)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [42]:
a={1,2,3,4,5}
b={1,2,4,3,5}
if a==b:
  print("two sets are identical")
else:
  print("two sets are not identical")

two sets are identical

23. Create a frozen set.

In [24]:
a={5,2,3,7,5}
print(frozenset(a))

frozenset({2, 3, 5, 7})

24. Check if a set is disjoint with another set.

In [49]:
a={1,2,3}
b={4,5,6,7,8,9}
print(a.isdisjoint(b))

True

25. Create a set of squares of numbers from 1 to 5.

In [51]:
a=set()
for i in range(1,6):
  a.add(i**2)
print(a)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [52]:
a={1,2,3,4,5,6,7,8}
for i in a:
  if i%2 ==0:
    print(i,end=" ")

2 4 6 8

27. Multiply all elements in a set by 2.

In [53]:
a={1,2,3,4,5,6}
b=set()
for i in a:
  b.add(i*2)
print(b)

{2, 4, 6, 8, 10, 12}

28. Create a set of random numbers.

In [34]:
import random
a=set()
for i in range (1,10):
  a.add(random.randint(1,100),)
print(a)

{96, 66, 98, 10, 46, 48, 17, 51, 58}

29. Check if a set is empty.

In [37]:
a={1,2,3,4}
if a==set():
  print("set is empty")
else:
  print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [8]:
a=set()
a.add(frozenset({1,2,3,4}))
print(a)

{frozenset({1, 2, 3, 4})}

31. Remove an element from a set using the discard method.

In [9]:
a = {1, 2, 3, 4, 5, 6, 7}
a.discard(3)
print(a)

{1, 2, 4, 5, 6, 7}

32. Compare two sets.

In [ ]:
a={1,2,3,4,5}
b={1,2,4,3,5}
if a==b:
  print("two sets are identical")
else:
  print("two sets are not identical")

33. Create a set from a string.

In [10]:
a="abcd"
print(set(a))

{'c', 'd', 'b', 'a'}

34. Convert a set of strings to a set of integers.

In [14]:
a={'1','2','3'}
b=set(map(int,a))
print(b)

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [15]:
a={1,2,3,4}
b=set(map(str,a))
print(b)

{'3', '4', '2', '1'}

36. Create a set from a tuple.

In [17]:
a=(1,2,3,4,5,6)
print(set(a))

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [18]:
a={1,2,3,4,5,6}
print(tuple(a))

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [19]:
a={1,2,3,4,5,6}
print(max(a))

6

39. Find the minimum value in a set.

In [20]:
a={1,2,3,4,5,6}
print(min(a))

1

40. Create a set from user input.

In [22]:
a=set()
n=int(input("enter the number of element "))
for i in range(n):
  x=int(input("enter the element to be enter"))
  a.add(x)
print(a)

enter the number of element 4
enter the element to be enter3
enter the element to be enter4
enter the element to be enter2
enter the element to be enter5
{2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [23]:
a={1,2,3,4,5}
b={6,7,8,9,10}
if a.intersection(b)==set():
  print("intersection of two sets is empty")
else:
  print("intersection of two sets is not empty")

intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [25]:
a=set()
x=0
y=1
a={x,y}
for i in range(1,9):
  c=x+y
  x=y
  y=c
  a.add(c)
  if len(a)==5:
    break
print(a)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [27]:
a=[1,2,3,4,5,4,3,2,1]
print(list(set(a)))

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [28]:
a={1,2,3,4,3,2,1,5,2}
b={1,2,3,4,5}
if a==b:
  print("sets have same elements")
else:
  print("sets don't have same element ")

sets have same elements

45. Create a set of the first `n` powers of 2.

In [30]:
a=set()
n=int(input("enter the no. "))
for i in range(1,n+1):
  a.add(i**2)
print(a)

enter the no. 5
{1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [35]:
a=[1,2,3,4,5,6,5,4,3]
b={2,3,4,5,2,6,7}
print(set(a).intersection(b))

{2, 3, 4, 5, 6}

47. Create a set of the first `n` triangular numbers.

In [53]:
a=set()
n=int(input("enter the no. of element"))
x=0
for i in range(1,n+1):
  x+=i
  a.add(x)
print(a)

enter the no. of element5
{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [39]:
a={1,2,3,4,5}
b={3,4}
if b.issubset(a):
  print("b is subset of a")
else:
  print("b is not subset of a")

b is subset of a

49. Create a set of alternating 1s and 0s of length `n`

In [46]:
a=(1,0)
n=int(input("enter the no. of element "))
if(n%2==0):
  print(a*(n//2))
else:
  x=a*((n-1)//2)
  x+=(1,)
  print(set(x))                         #set always store unique walue so output will be same always

enter the no. of element 5
{0, 1}

50. Merge multiple sets into one.

In [42]:
a={1,2,3,4,5}
b={6,7,8,9,10}
c={11,12,13,14,15}
print(a.union(b).union(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}