<a href="https://colab.research.google.com/github/gauravr1104/Frisson_Assignment/blob/main/07_05_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5]
x=0
for i in range(0,len(a)):
  x+=a[i]
print(x)

15

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
a="abcd"
for i in range(len(a)-1,-1,-1):
  print(a[i])

d
c
b
a

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n=int(input("enter a no."))
product = 1
for i in range(n,0,-1):
  product=product*i
print(product)

enter a no.5
120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n=int(input("enter a no."))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter a no.5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# OR

In [ ]:
n=int(input("enter a number"))
for index,element in enumerate(list(range(n,(n*10)+1,n))):
  print(f"{n}*{index+1}={element}")

enter a number4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,8]
even=0
odd=0
for i in a:
  if i%2==0:
    even+=1
  else:
    odd+=1
print("even=",even)
print("odd=",odd)

even= 4
odd= 4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2, end=" ")

1 4 9 16 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
a=input("enter a string ")
count=0
for i in a:
  count+=1
print(f"the length of string is {count}")

enter a string gaurav
the length of string is 6

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,8]
x=0
for i in a:
  x+=i
print("average of no. in list is", x/len(a))

average of no. in list is 4.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a=int(input("enter a no."))
x=0
y=1
print(x)
print(y)
for i in range(0,n-3):
  c=x+y
  x,y=y,c
  print(c)

enter a no.5
0
1
1

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6]
b=[]
count=0
for i in a:
  if i not in b:
    b.append(i)
  else:
    count+=1
if count>0:
  print("list contains duplicates")
else:
  print("list does not contain duplicates")

list does not contain duplicates

# **OR**

In [ ]:
for i in a:
  if a.count(i)>1:
    print("list contains duplicates")
    break
else:
  print("list does not contain duplicates")

list does not contain duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop

In [ ]:
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
a=input("enter a string")
b="aeiou"
count=0
for i in a:
  if i in b:
    count+=1
print(f"the no. of vowels in string is {count}")

enter a stringgaurav singh rawat
the no. of vowels in string is 6

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
a=[[1,23],[3,4],[5,6]]
x=0
for i in a:
  for j in range(0,len(i)):
    if i[j]>x:
      x=i[j]
print(x)

23

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,6,5,4,3,2,2,1]
b=[]
n=int(input("enter a no."))
for i in a:
  if i!=n:
    b.append(i)
print(b)

enter a no.5
[1, 2, 3, 4, 6, 7, 6, 4, 3, 2, 2, 1]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f"{i} X {j} = {i*j}")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
f=[40,50,60,32]
c=[]
for i in f:
  x=(i - 32)* (5/9)
  c.append(x)
print(c)

[4.444444444444445, 10.0, 15.555555555555557, 0.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7]
b=[4,5,6,7,8,9]
for i in a:
  if i in b:
    print(i, end=" ")

4 5 6 7

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
n= int(input("enter a no."))
for i in range(1,n+1):
  print("*"*i)

enter a no.5
*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
n1=int(input("enter a no."))
n2=int(input("enter another no."))
x=0
if(n1>n2):
  a=n1
else:
  a=n2
for i in range(1,a):
  if n1%i==0 and n2%i==0 :
    x=i
print(f"the highest gcd of {n1} and {n2} is {x}")

enter a no.50
enter another no.25
the highest gcd of 50 and 25 is 25

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]
sum([i for i in a])

# **OR**

In [ ]:
l1=[1,2,3,4,5]
sum=0
l2=[sum:=sum+i for i in l1]
print(sum)

15

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
n=int(input('enter a number: '))
[i for i in range(2,n+1) if n%i==0 and all(i%j !=0 for j in range(2,i)) ]

enter a number: 10

[2, 5]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
a=[1,2,3,4,5,6,7,8,7,6,5,4]
[i for i in a if a.count(i)==1 ]

[1, 2, 3, 8]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
[i for i in range(10,100) if str(i)== str(i)[::-1]]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
a=[[1,2],[3,4],[4,5]]
[j for i in a for j in i ]

[1, 2, 3, 4, 4, 5]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
a=[1,2,3,4,5,6,7,8]
even=0
odd=0
x=[even:=even+i for i in a if i%2==0]
y=[odd:=odd+i for i in a if i%2!=0]
print(even)
print(odd)

20
16

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
[i**2 for i in range(1,11) if i%2!=0]

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
a=['a','b','c','d','e']
b=[1,2,3,4,5]
dict={}
c=[dict.update({a[i]:b[i]}) for i in range(0,len(a)) ]
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
a=input("enter a string")
b="aeiou"
[i for i in a if i in b]

enter a stringgaurav singh rawat

['a', 'u', 'a', 'i', 'a', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [191]:
a=[1,2,3,4,5,'a','b','c','d',20.0]
[i for i in a if type(i)== int]

[1, 2, 3, 4, 5]


# **Basic If-Else Statements:**

1. Write a Python program to check if a given number is positive or negative.

In [192]:
n=int(input("enter a no."))
if n<0:
  print("Number is negative")
else:
  print("number is positive")

enter a no.-3
Number is negative

2. Create a program that determines if a person is eligible to vote based on their age.

In [193]:
n=int(input("enter a no."))
if n>18:
  print("Eligible to vote")
else:
  print("Not Eligible to vote")

enter a no.15
Not Eligible to vote

3. Develop a program to find the maximum of two numbers using if-else statements.

In [195]:
n1=int(input("enter a no."))
n2=int(input("enter a no."))
if n1>n2:
  print("n1 is greater")
else:
  print("n2 is greater")

enter a no.4
enter a no.5
n2 is greater

4. Write a Python script to classify a given year as a leap year or not.

In [199]:
year = int(input('enter the year: '))
if year%4==0 and (year%100!=0 or year%400==0):
    print('leap year')
else:
    print('not a leap year')

enter the year: 2000
leap year

5. Create a program that checks whether a character is a vowel or a consonant.

In [200]:
a=input("enter a character")
vowel='aeiouAEIOU'
if a in vowel:
  print("character is vowel")
else:
  print("character is consonent")

enter a characterB
character is consonent

6. Implement a program to determine whether a given number is even or odd.

In [201]:
n=int(input("enter a no."))
if n %2==0:
  print("no. is even")
else:
  print("no. is odd")

enter a no.5
no. is odd

7. Write a Python function to calculate the absolute value of a number without using the `abs()` function.

In [205]:
n=int(input("enter a no."))
if n<0:
  print(0-n)
else:
  print(n)

enter a no.-100
100

8. Develop a program that determines the largest of three given numbers using if-else statements.

In [214]:
n1 = int(input('enter 1st no. '))
n2 = int(input('enter 2nd no. '))
n3= int(input('enter 3rd no. '))
if n1>n2 and n1>n3:
    print(f'{n1} is greatest number')
elif n2>n1 and n2>n1:
    print(f'{n2} is greatest number')
else:
    print(f'{n3} is greatest number')

enter the num1: 7
enter the num2: 5
enter the num3: 9
9 is greatest number

9. Create a program that checks if a given string is a palindrome.

In [211]:
a=input("enter a string ")
if a==a[::-1]:
    print('string is palindrome')
else:
    print('string is not palindrom')

enter a string nitin
string is palindrome

10. Write a Python program to calculate the grade based on a student's score.

In [247]:
marks =int(input ('Enter the Marks '))

if marks >=90 and marks <=100:
    print ('A')
elif marks >=80 and marks <90:
    print('B')
elif marks >=70 and marks <80:
    print('C')
elif marks >=60 and marks <70:
    print('D')
elif marks >=50 and marks <60:
    print('Average')
else:
    print('Poor marks')

Enter the Marks 67
D

# **Nested If-Else Statements**

11. Write a program to find the largest among three numbers using nested if-else statements.

In [215]:
x = int(input('enter 1st no. '))
y = int(input('enter 2nd no. '))
z = int(input('enter 3rd no. '))
if x>y:
    if x>z:
        print(f'{x} is greatest number')
if y>x :
    if y>z:
        print(f'{y} is greatest number')
else:
    print(f'{z} is greatest number')

enter 1st no. 99
enter 2nd no. 67
enter 3rd no. 100
100 is greatest number

12. Implement a program to determine if a triangle is equilateral, isosceles, or scalene.

In [217]:
x = int(input('enter 1st side '))
y = int(input('enter 2nd side '))
z = int(input('enter 3rd side '))
if x == y :
    if y == z:
        if z==x:
            print('equilateral')
if x == y or y ==z or z==x:
    if y != z or x!=z:
        print('isosceles')
else:
    print('scalene')

enter 1st side 44
enter 2nd side 34
enter 3rd side 44
isosceles

13. Develop a program that checks if a year is a leap year and also if it is a century year.

In [218]:
year = int(input('enter the year: '))
if year % 4 == 0:
    if year % 100 != 0 or year % 400 == 0:
        print('leap year')
else:
    print('not a leap year')

enter the year: 2024
leap year

14. Write a Python script to determine if a number is positive, negative, or zero.

In [223]:
n = int(input('enter the num: '))
if n >= 0:
    if n == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

enter the num: -77
The number is negative.

15. Create a program to check if a person is a teenager (between 13 and 19 years old).

In [226]:
age=int(input('enter the age '))
if age>=13:
  if age<=19:
    print('person is teenager')
  else:
    print('person is above 19')
else:
  print('person is below 13')

enter the age 19
person is teenager

16. Develop a program that determines the type of angle based on its measure (acute, obtuse, or right).

In [227]:
angle=int(input('enter the angle: '))
if angle>=90:
  if angle>90:
    print('angle is obtuse')
  else:
    print('angle is right angle')
else:
  print('angle is acute')

enter the angle: 75
angle is acute

17. Write a Python program to calculate the roots of a quadratic equation.

In [ ]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))
if a != 0:
    d = b*b - 4*a*c
    if d > 0:         #d > 0, it calculates two real, different roots
        root1 = (-b + (d)**0.5) / (2*a)
        root2 = (-b - (d)**0.5) / (2*a)
        print("Root 1 =", root1)
        print("Root 2 =", root2)
    else:
        if d == 0:     # d == 0, it calculates one real, repeated root
            root = -b / (2*a)
            print("Root 1 = Root 2 =", root)

18. Implement a program to determine the day of the week based on a user-provided number (1 for Monday, 2
for Tuesday, etc.).

In [238]:
d = int(input('INSERT THE WEEK '))
if d >1:
  if d>2:
    if d>3:
      if d>4:
        if d>5:
          if d>6:
            if d>7:
              if d>=8:
                print("Invalid input")
            else:
              print("Sunday")
          else:
            print("Saturday")
        else:
          print("Friday")
      else:
        print("Thursday")
    else:
      print("Wednesday")
  else:
    print("Tuesday")
else:
  print("Monday")

INSERT THE WEEK 7
Sunday

19. Create a program that determines if a year is a leap year and also if it is evenly divisible by 400.

In [241]:
year = int(input('enter the year: '))
if year % 4 == 0:
    if year % 100 != 0 or year % 400 == 0:
      if year % 400 == 0:
        print('leap year and divisible by 400')
      else:
        print('leap year but not divisible by 400')
    else:
        print('not a leap year')
else:
    print('not a leap year')

enter the year: 2000
leap year and divisible by 400

20. Develop a program that checks if a given number is prime or not using nested if-else statements.

In [246]:
n= int(input("Enter a number: "))
if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print("not a prime")
            break
    else:
        print("no. is prime")
else:
    print("not a prime ")

Enter a number: 7
no. is prime

21. Write a Python program to assign grades based on different ranges of scores using elif statements.

In [248]:
marks =int(input ('Enter the Marks '))

if marks >=90 and marks <=100:
    print ('A')
elif marks >=80 and marks <90:
    print('B')
elif marks >=70 and marks <80:
    print('C')
elif marks >=60 and marks <70:
    print('D')
elif marks >=50 and marks <60:
    print('Average')
else:
    print('Poor')

Enter the Marks 77
C

22. Implement a program to determine the type of a triangle based on its angles.

In [249]:
angle=int(input('enter the angle: '))
if angle>0 and angle<90:
  print('angle is acute')
elif angle==90:
  print('angle is right angle')
elif angle>90 and angle<180:
  print('angle is obtuse')

enter the angle: 65
angle is acute

23. Develop a program to categorize a given person's BMI into underweight, normal, overweight, or obese using

In [252]:
w = float(input("Enter your weight in kg: "))
h = float(input("Enter your height in meters: "))
bmi = w / (h ** 2)
if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 24.9:
    print("Normal weight")
elif 25 <= bmi < 29.9:
    print("Overweight")
else:
    print("Obese")

Enter your weight in kg: 70
Enter your height in meters: 1.7
Normal weight

24. Create a program that determines whether a given number is positive, negative, or zero using elif

In [3]:
n=int(input("enter a no."))
if n==0:
  print("given no. is 0")
elif n>0:
    print("given no. is positive")
else:
    print("given no. is negative")

enter a no.7
given no. is positive

25. Write a Python script to determine the type of a character (uppercase, lowercase, or special) using elif
statements.

In [1]:
a = input('enter a character ')
if a >='a' and a <='z':
    print('Lowercase Character')
elif a >='A' and a <='Z':
    print('Uppercase Character')
else:
    print('Special Character')

enter a character 6
Special Character

26. Implement a program to calculate the discounted price based on different purchase amounts using elif
statements.

In [3]:
amount = float(input("Enter the purchase amount: "))

if amount < 100:
    dp = 0                                       # dp = discount percentage
elif amount < 200:
    dp = 5
elif amount < 300:
    dp = 10
else:
    dp = 15

da = amount * (dp / 100)                         #da= discount amount
discount_price = amount - da

print("The discounted price is:", discount_price)

Enter the purchase amount: 250
The discounted price is: 225.0