<a href="https://colab.research.google.com/github/gauravr1104/Frisson_Assignment/blob/main/07_05_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5]
x=0
for i in range(0,len(a)):
  x+=a[i]
print(x)

15

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
a="abcd"
for i in range(len(a)-1,-1,-1):
  print(a[i])

d
c
b
a

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n=int(input("enter a no."))
product = 1
for i in range(n,0,-1):
  product=product*i
print(product)

enter a no.5
120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n=int(input("enter a no."))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter a no.5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# OR

In [ ]:
n=int(input("enter a number"))
for index,element in enumerate(list(range(n,(n*10)+1,n))):
  print(f"{n}*{index+1}={element}")

enter a number4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,8]
even=0
odd=0
for i in a:
  if i%2==0:
    even+=1
  else:
    odd+=1
print("even=",even)
print("odd=",odd)

even= 4
odd= 4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2, end=" ")

1 4 9 16 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
a=input("enter a string ")
count=0
for i in a:
  count+=1
print(f"the length of string is {count}")

enter a string gaurav
the length of string is 6

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,8]
x=0
for i in a:
  x+=i
print("average of no. in list is", x/len(a))

average of no. in list is 4.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a=int(input("enter a no."))
x=0
y=1
print(x)
print(y)
for i in range(0,n-3):
  c=x+y
  x,y=y,c
  print(c)

enter a no.5
0
1
1

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6]
b=[]
count=0
for i in a:
  if i not in b:
    b.append(i)
  else:
    count+=1
if count>0:
  print("list contains duplicates")
else:
  print("list does not contain duplicates")

list does not contain duplicates

# **OR**

In [ ]:
for i in a:
  if a.count(i)>1:
    print("list contains duplicates")
    break
else:
  print("list does not contain duplicates")

list does not contain duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop

In [ ]:
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
a=input("enter a string")
b="aeiou"
count=0
for i in a:
  if i in b:
    count+=1
print(f"the no. of vowels in string is {count}")

enter a stringgaurav singh rawat
the no. of vowels in string is 6

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
a=[[1,23],[3,4],[5,6]]
x=0
for i in a:
  for j in range(0,len(i)):
    if i[j]>x:
      x=i[j]
print(x)

23

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7,6,5,4,3,2,2,1]
b=[]
n=int(input("enter a no."))
for i in a:
  if i!=n:
    b.append(i)
print(b)

enter a no.5
[1, 2, 3, 4, 6, 7, 6, 4, 3, 2, 2, 1]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f"{i} X {j} = {i*j}")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
f=[40,50,60,32]
c=[]
for i in f:
  x=(i - 32)* (5/9)
  c.append(x)
print(c)

[4.444444444444445, 10.0, 15.555555555555557, 0.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
a=[1,2,3,4,5,6,7]
b=[4,5,6,7,8,9]
for i in a:
  if i in b:
    print(i, end=" ")

4 5 6 7

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
n= int(input("enter a no."))
for i in range(1,n+1):
  print("*"*i)

enter a no.5
*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
n1=int(input("enter a no."))
n2=int(input("enter another no."))
x=0
if(n1>n2):
  a=n1
else:
  a=n2
for i in range(1,a):
  if n1%i==0 and n2%i==0 :
    x=i
print(f"the highest gcd of {n1} and {n2} is {x}")

enter a no.50
enter another no.25
the highest gcd of 50 and 25 is 25

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7]
sum([i for i in a])

# **OR**

In [ ]:
l1=[1,2,3,4,5]
sum=0
l2=[sum:=sum+i for i in l1]
print(sum)

15

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
n=int(input('enter a number: '))
[i for i in range(2,n+1) if n%i==0 and all(i%j !=0 for j in range(2,i)) ]

enter a number: 10

[2, 5]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
a=[1,2,3,4,5,6,7,8,7,6,5,4]
[i for i in a if a.count(i)==1 ]

[1, 2, 3, 8]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
[i for i in range(10,100) if str(i)== str(i)[::-1]]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
a=[[1,2],[3,4],[4,5]]
[j for i in a for j in i ]

[1, 2, 3, 4, 4, 5]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
a=[1,2,3,4,5,6,7,8]
even=0
odd=0
x=[even:=even+i for i in a if i%2==0]
y=[odd:=odd+i for i in a if i%2!=0]
print(even)
print(odd)

20
16

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
[i**2 for i in range(1,11) if i%2!=0]

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
a=['a','b','c','d','e']
b=[1,2,3,4,5]
dict={}
c=[dict.update({a[i]:b[i]}) for i in range(0,len(a)) ]
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
a=input("enter a string")
b="aeiou"
[i for i in a if i in b]

enter a stringgaurav singh rawat

['a', 'u', 'a', 'i', 'a', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [191]:
a=[1,2,3,4,5,'a','b','c','d',20.0]
[i for i in a if type(i)== int]

[1, 2, 3, 4, 5]


# **Basic If-Else Statements:**

1. Write a Python program to check if a given number is positive or negative.