<a href="https://colab.research.google.com/github/gauravr1104/Frisson_Assignment/blob/main/Frisson_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String is the collection of charcater which is surrounded by single or double quote

In [ ]:
a="hello"
print(type(a))

<class 'str'>

In [ ]:
for item in a:
  print(item)

h
e
l
l
o

In [ ]:
#slicing in string
a="hello this is me."
a[0:10:2]     # syntax: var_name[start:end:skip]

'hloti'

In [ ]:
a[::-1]

'.em si siht olleh'

In [ ]:
''' modification in string :
upper(): convert string into upper
lower():convert string into lower
strip(): remove extra space from string
lstrip(): remove extra space from left side
rstrip(): remove extra space from right side
replace(): replace string with another string
split(): split string into list
join(): join list into string
'''

' modification in string :\nupper(): convert string into upper\nlower():convert string into lower\nstrip(): remove extra space from string\nlstrip(): remove extra space from left side\nrstrip(): remove extra space from right side\nreplace(): replace string with another string\nsplit(): split string into list\njoin(): join list into string\n'

In [ ]:
a="hello"
print(a.upper())

HELLO

In [ ]:
print(a.lower())

hello

In [ ]:
a="  Hello   "
print(a.strip())

Hello

In [ ]:
a="Hello, World"
a.replace("H","J")

'Jello, World'

In [ ]:
a="Hello World Frisson Devhub"
a.split()

['Hello', 'World', 'Frisson', 'Devhub']

In [ ]:
b="Hello This is , First ,  Module"
b.split(",")

['Hello This is ', ' First ', '  Module']

In [ ]:
#Concatenatiom
a="HELLO"
b="WORLD"
a+b

'HELLOWORLD'

In [ ]:
a*2

'HELLOHELLO'

In [ ]:
a = 10
b = 20
c=a*b
print(c)

200

In [ ]:
x =2
y= 5
a=0
x=
y=x

In [ ]:
#list
#list is a collection that store multiple data with different data type

In [ ]:
l=[1,2,3,4,5,6]
l[3:0:-1]
y=[6,7,8]
l+y
l*3

In [ ]:
t1=(1,2,3,4)
t2=(6,7,8)
t1+t2
t1*2

In [ ]:
# set: A unorder collection of unique data because unless of how we provide data in it it always give the out put of sorted elements
#set is neither mutable nor immutable

In [ ]:
s={22,32,32,33,42,31,23,77}
s

In [ ]:
 #dict:: a collection of data stpred in the form of key-value pair, dictionary give you leverage of indexing

In [ ]:
d={1:"gaurav"}
d

In [ ]:
'''list- append()- append the list at the end,
extend()- append only elements ,
clear()-clear the list
insert()-do inert at a particular index
pop()- in memory operation
count()- count the appearance
index()- will give the index of the element
sort()-
'''
#string: find- will give -1 if elemment is not present and index- will give an error if felemnet is not found.


l = [1,2,3,4]
l1 = [5,3,5]
l.extend(l1)
l

In [ ]:
s='heloooooo'
s.find('o')

In [ ]:
list = [1,2,2,3,4,5,5,6]
a=[]
count=0
for i in list:
  if i not in a:
    a.append(i)
print(a)

In [ ]:
'''
operators in python
operators are used to perform operations on variables and values.
types of operators:
Mathematical operators
Comparison operators
Logical operators
Bitwise operators
'''

# << left shift operation do twice of number
#>> right shift operation do half of number

# is and == . "is" check the memory location and value, while == only checks the value

' \noperators in python\noperators are used to perform operations on variables and values.\ntypes of operators:\nMathematical operators\nComparison operators\nLogical operators\nBitwise operators\n'

In [ ]:
def sum(a,b):
  return a+b
def subtract(a,b):
  return a-b
def multiply(a,b):
  return a*b
def divide(a,b):
  return a/b
def floordivide(a,b):
  return a//b
def square(a,b):
  return a**b

a=int(input("enter the first number"))
b=int(input("enter the second number"))

In [ ]:
a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
c = input("Choose the operator ")

if c == "+":
    print(a + b)
elif c == "-":
    print(a - b)
elif c == "pow":
    print(a ** b)
elif c == "/":
    print(a / b)
elif c=="//":
    print(a//b)
else:
    print("no such operator")

enter the value of a:4
enter the value of b:2
Choose the operator /
2.0

In [ ]:
# typeddict :
from typing import TypedDict

dic={"id": 123}
dic = {"id":"123"}

class schema(TypedDict):
  id: str
  name: str
  agr:int

new_dic:schema = {"id":"123","name":"gaurav","agr":22}

In [ ]:
new_dic

{'id': 123, 'name': 'gaurav', 'agr': 22}

In [ ]:
#loops:
list(range(0.1,0.5,0.01))

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
n=int(input("enter a number"))
for index,element in enumerate(list(range(n,(n*10)+1,n))):
  print(f"{n}*{index+1}={element}")

enter a number6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

AttributeError: 'int' object has no attribute 'reverse'

In [ ]:
a=0
while a<10:
  print("gaurav")

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
def palindrome(num):
    return str(num)[::-1]

3

In [ ]:
# Function:

# arguement types in functi

In [ ]:
def calculator(x,y):
  a=input("enter the calculation u want to perform")
  if (a=='sum'):
    return x+y
  if a=='multiply':
    return x*y
  if a=='divide':
    return x/y
  if a=='power':
    return x**y
  if a=='subtract':
    return x-y

x=int(input("enter the first number"))
y=int(input("enter the second number"))
calculator(x,y)

enter the first number4
enter the second number2
enter the calculation u want to performsum

6

In [ ]:
# kwargs
def sum(**number):
  values = number.values()
  return(sum(number))

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy all the conditions given below:

(1) It should have at least 8 and at most 32 characters

(2) It should start with an uppercase or lowercase letter

(3) It should not have any of these characters: / \ = ' "

(4) It should not have spaces

It could have any character that is not mentioned in the list of characters to be avoided

In [18]:
import string
import random
def suggest_password():
    while True:
      a=random.choices(string.ascii_letters + string.digits, k=8)
      a=''.join(a)
      if a[0].isalpha():                                             #it return that password that start with alphabet
        return(a)
def password(pass_word):
  if 8<=len(pass_word)<=32:
    if 'a'<=pass_word[0]<='z' or 'A'<=pass_word[0]<='Z':
      if '/' not in pass_word and '\\' not in pass_word and '=' not in pass_word and "'" not in pass_word and '"' not in pass_word and ' ' not in pass_word:
        return "valid password "
      else:
        return " invalid password , remove special character'/\='\" and the suggested passwerd is "+suggest_password()
    else:
      return "invalid password, use alphabet as first character and the suggested passwerd is "+suggest_password()
  else:
    return "invalid passwrod , password should have minimum 8 character or maximum 32 character and the suggested password is "+suggest_password()


pass_word=input("enter a password ")
password(pass_word)

enter a password gaurav2004=

' invalid password , remove special character\'/\\=\'" and the suggested passwerd is HOLvPY6d'